<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </button>
  </li>
</ul>
<!-- Section qui sera visible seulement au click d'un Héro -->
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}}</h2>
  <div>id: {{selectedHero.id}}</div>
  <div>
    <label for="hero-name">Hero name:</label>
    <!-- [(ngModel)] actualise la data dans le html & dans le .ts => Il remplace le value -->
    <input type="text" [(ngModel)]="selectedHero.name" placeholder="name"/>
  </div>
</div>
